.colorDeFondo {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.verde {
  background-color: rgb(52, 228, 52);
}

.rojo {
  background-color: rgb(255, 0, 0);
}

.azul {
  background-color: rgb(0, 128, 255);
}

.amarillo {
  background-color: rgb(206, 255, 12);
}

.morado {
  background-color: rgb(208, 0, 197);
}

.Ejercicio1,
.Ejercicio2,
.Ejercicio3,
.Ejercicio4,
.Ejercicio4-1,
.Ejercicio5 {
  margin-top: 3%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.Ejercicio2 {
  box-shadow: 0 0 10px rgb(20, 172, 0);
}

.Ejercicio3 {
  box-shadow: 0 0 10px rgb(217, 255, 0);
}

.Ejercicio4 {
  box-shadow: 0 0 10px rgb(0, 255, 234);
}

.Ejercicio4-1{
  box-shadow: 0 0 10px rgb(0, 255, 234);
  width: 80%;
  position: absolute;
    left: 10%;
}

.Ejercicio5{
  box-shadow: 0 0 10px rgb(255, 1, 247);
  margin-bottom: 10%;
}

.info {
  margin-bottom: 10px;
}

.info h4,
info p {
  display: inline;
}
